
# Pictures
publics/images/

#fonts
publics/fontawesome-free/

#file test
testGitignore.txt

#BD for pwd
dbs196866.sql

#add file config
config.php


#dependency
publics/js/

publics/css/clean-blog.css

publics/css/clean-blog.min.css